dn: ou=People,dc={domainName},dc={domainPostfix}
objectClass: organizationalUnit
ou: People

dn: ou=Groups,dc={domainName},dc={domainPostfix}
objectClass: organizationalUnit
ou: Groups

dn: cn=dev,ou=Groups,dc=example,dc={domainPostfix}
objectClass: posixGroup
cn: dev
gidNumber: 5000
