
dn: uid={username},ou=People,dc={domainName},dc={domainPostfix}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: {username}
sn: {lastName}
givenName: {givenName}
cn: {givenName} {lastName}
displayName: {givenName} {lastName}
uidNumber: {uidNumber}
gidNumber: 5000
userPassword: {username}ldappassword
gecos: {givenName} {lastName}
loginShell: /bin/bash
homeDirectory: /home/{username}
